/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes imageSlide {
  0% {
    left: 50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes imageSlide {
  0% {
    left: 50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes imageSlide {
  0% {
    left: 50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes textSlide {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}
@-webkit-keyframes textSlide {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}
@keyframes textSlide {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}
@-moz-keyframes imagePopoutZero {
  0% {
    width: 2%;
    opacity: 0;
    margin: -1% 0 0 -1%;
  }
  97% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutZero {
  0% {
    width: 2%;
    opacity: 0;
    margin: -1% 0 0 -1%;
  }
  97% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutZero {
  0% {
    width: 2%;
    opacity: 0;
    margin: -1% 0 0 -1%;
  }
  97% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutOne {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  3% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutOne {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  3% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutOne {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  3% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutTwo {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  6% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutTwo {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  6% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutTwo {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  6% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutThree {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  9% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutThree {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  9% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutThree {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  9% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutFour {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  12% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutFour {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  12% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutFour {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  12% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutFive {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  15% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutFive {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  15% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutFive {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  15% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutSix {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  18% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutSix {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  18% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutSix {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  18% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutSeven {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  21% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutSeven {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  21% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutSeven {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  21% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutEight {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  24% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutEight {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  24% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutEight {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  24% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imagePopoutNine {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  26% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-webkit-keyframes imagePopoutNine {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  26% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@keyframes imagePopoutNine {
  0% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  26% {
    width: 0%;
    opacity: 0;
    margin: 0 0 0 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    margin: -50% 0 0 -50%;
  }
}
@-moz-keyframes imageBounce {
  0% {
    top: 0;
  }
  13% {
    top: -15px;
  }
  25% {
    top: 0;
  }
  38% {
    top: 7px;
  }
  50% {
    top: 0;
  }
  63% {
    top: 3px;
  }
  75% {
    top: 0;
  }
  88% {
    top: 1px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes imageBounce {
  0% {
    top: 0;
  }
  13% {
    top: -15px;
  }
  25% {
    top: 0;
  }
  38% {
    top: 7px;
  }
  50% {
    top: 0;
  }
  63% {
    top: 3px;
  }
  75% {
    top: 0;
  }
  88% {
    top: 1px;
  }
  100% {
    top: 0;
  }
}
@keyframes imageBounce {
  0% {
    top: 0;
  }
  13% {
    top: -15px;
  }
  25% {
    top: 0;
  }
  38% {
    top: 7px;
  }
  50% {
    top: 0;
  }
  63% {
    top: 3px;
  }
  75% {
    top: 0;
  }
  88% {
    top: 1px;
  }
  100% {
    top: 0;
  }
}
/* line 4, ../sass/partials/core.scss */
body {
  background-color: #002240;
  color: #eaeaea;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
}
@media screen and (min-width: 1024px) {
  /* line 4, ../sass/partials/core.scss */
  body {
    font-size: 115%;
  }
}

/* line 13, ../sass/partials/core.scss */
h1, h2, h3, h4 {
  font-family: "droid-sans-mono-1", "droid-sans-mono-2", monospace, sans-serif;
  clear: both;
}

/* line 17, ../sass/partials/core.scss */
#main {
  width: 92.72%;
  margin: 0 auto;
  clear: both;
}
/* line 22, ../sass/partials/core.scss */
#main a {
  color: #ff8f00;
  text-decoration: none;
}
/* line 26, ../sass/partials/core.scss */
#main a:visited {
  color: #ffe080;
}
/* line 29, ../sass/partials/core.scss */
#main a:hover {
  color: #ff80d3;
}
/* line 32, ../sass/partials/core.scss */
#main h2 {
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 300;
  font-size: 200%;
  padding-top: .5em;
  position: relative;
  left: 0;
  -moz-animation: textSlide 0.75s 1;
  -webkit-animation: textSlide 0.75s 1;
  animation: textSlide 0.75s 1;
}
/* line 41, ../sass/partials/core.scss */
#main h2.project-page {
  padding-top: .8em;
}
@media screen and (max-width: 500px) {
  /* line 41, ../sass/partials/core.scss */
  #main h2.project-page {
    padding-top: .5em;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 32, ../sass/partials/core.scss */
  #main h2 {
    margin-bottom: .3em;
  }
}
/* line 53, ../sass/partials/core.scss */
#main p {
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.3em;
  position: relative;
  left: 0;
  -moz-animation: textSlide 0.75s 1;
  -webkit-animation: textSlide 0.75s 1;
  animation: textSlide 0.75s 1;
}
/* line 61, ../sass/partials/core.scss */
#main p {
  padding-bottom: .8em;
  text-indent: -2px;
}
/* line 65, ../sass/partials/core.scss */
#main .errors {
  color: #ff80d3;
  height: 0;
  overflow: hidden;
  padding: 0;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 300;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
/* line 74, ../sass/partials/core.scss */
#main form {
  width: 100%;
  height: auto;
  min-height: 170px;
}
@media screen and (max-width: 500px) {
  /* line 74, ../sass/partials/core.scss */
  #main form {
    min-height: 150px;
  }
}
/* line 82, ../sass/partials/core.scss */
#main form label, #main form input {
  float: left;
  margin-bottom: .5em;
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 300;
}
/* line 90, ../sass/partials/core.scss */
#main form label {
  clear: both;
  min-width: 10%;
  margin-right: 10px;
  margin-top: .1em;
}
/* line 96, ../sass/partials/core.scss */
#main form input[type="submit"] {
  display: block;
  clear: both;
  font-size: 1em;
  padding: .5em 2em;
  background-color: #800f00;
  border: none;
  color: #fff;
}
/* line 105, ../sass/partials/core.scss */
#main form input[type="text"], #main form input[type="password"] {
  font-weight: 500;
  padding: 0 .3em;
}

/* line 112, ../sass/partials/core.scss */
.indexSection ul {
  margin: 0 auto;
}
/* line 115, ../sass/partials/core.scss */
.indexSection ul li {
  float: left;
  width: 19%;
  height: 0;
  padding-bottom: 19%;
  margin: 0 1.25% 1.25% 0;
  position: relative;
  overflow: hidden;
}
/* line 123, ../sass/partials/core.scss */
.indexSection ul li:nth-child(5n) {
  margin-right: 0;
}
/* line 126, ../sass/partials/core.scss */
.indexSection ul li:hover {
  -moz-animation: imageBounce 0.8s 1;
  -webkit-animation: imageBounce 0.8s 1;
  animation: imageBounce 0.8s 1;
}
/* line 130, ../sass/partials/core.scss */
.indexSection ul li img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% 0 0 -50%;
}
/* line 138, ../sass/partials/core.scss */
.indexSection ul li img.pop-zero {
  -moz-animation: imagePopoutZero 1.36s 1;
  -webkit-animation: imagePopoutZero 1.36s 1;
  animation: imagePopoutZero 1.36s 1;
}
/* line 139, ../sass/partials/core.scss */
.indexSection ul li img.pop-one {
  -moz-animation: imagePopoutOne 1.36s 1;
  -webkit-animation: imagePopoutOne 1.36s 1;
  animation: imagePopoutOne 1.36s 1;
}
/* line 140, ../sass/partials/core.scss */
.indexSection ul li img.pop-two {
  -moz-animation: imagePopoutTwo 1.36s 1;
  -webkit-animation: imagePopoutTwo 1.36s 1;
  animation: imagePopoutTwo 1.36s 1;
}
/* line 141, ../sass/partials/core.scss */
.indexSection ul li img.pop-three {
  -moz-animation: imagePopoutThree 1.36s 1;
  -webkit-animation: imagePopoutThree 1.36s 1;
  animation: imagePopoutThree 1.36s 1;
}
/* line 142, ../sass/partials/core.scss */
.indexSection ul li img.pop-four {
  -moz-animation: imagePopoutFour 1.36s 1;
  -webkit-animation: imagePopoutFour 1.36s 1;
  animation: imagePopoutFour 1.36s 1;
}
/* line 143, ../sass/partials/core.scss */
.indexSection ul li img.pop-five {
  -moz-animation: imagePopoutFive 1.36s 1;
  -webkit-animation: imagePopoutFive 1.36s 1;
  animation: imagePopoutFive 1.36s 1;
}
/* line 144, ../sass/partials/core.scss */
.indexSection ul li img.pop-six {
  -moz-animation: imagePopoutSix 1.36s 1;
  -webkit-animation: imagePopoutSix 1.36s 1;
  animation: imagePopoutSix 1.36s 1;
}
/* line 145, ../sass/partials/core.scss */
.indexSection ul li img.pop-seven {
  -moz-animation: imagePopoutSeven 1.36s 1;
  -webkit-animation: imagePopoutSeven 1.36s 1;
  animation: imagePopoutSeven 1.36s 1;
}
/* line 146, ../sass/partials/core.scss */
.indexSection ul li img.pop-eight {
  -moz-animation: imagePopoutEight 1.36s 1;
  -webkit-animation: imagePopoutEight 1.36s 1;
  animation: imagePopoutEight 1.36s 1;
}
/* line 147, ../sass/partials/core.scss */
.indexSection ul li img.pop-nine {
  -moz-animation: imagePopoutNine 1.36s 1;
  -webkit-animation: imagePopoutNine 1.36s 1;
  animation: imagePopoutNine 1.36s 1;
}
/* line 149, ../sass/partials/core.scss */
.indexSection ul li figcaption {
  position: absolute;
  left: 0;
  border: none;
  top: 100%;
  width: 101%;
  line-height: 1.3em;
  -moz-transition: top 0.2s ease-in-out 0.1s;
  -o-transition: top 0.2s ease-in-out 0.1s;
  -webkit-transition: top 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: top 0.2s ease-in-out 0.1s;
  background-color: rgba(0, 34, 64, 0.7);
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5% 41%;
  height: 0;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 200;
}
/* line 165, ../sass/partials/core.scss */
.indexSection ul li figcaption span.table-container {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}
/* line 171, ../sass/partials/core.scss */
.indexSection ul li figcaption span.table-container span.table {
  display: table;
  height: 100%;
  width: 90%;
}
/* line 176, ../sass/partials/core.scss */
.indexSection ul li figcaption span.table-container span.table span.cell {
  display: table-cell;
  vertical-align: middle;
  border: none;
  height: 100%;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* line 115, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 23.5%;
    padding-bottom: 23.5%;
    margin: 0 2% 2% 0;
  }
  /* line 189, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(5n) {
    margin-right: 2%;
  }
  /* line 192, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 501px) {
  /* line 115, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 32%;
    padding-bottom: 32%;
    margin: 0 2% 2% 0;
  }
  /* line 202, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(5n) {
    margin-right: 2%;
  }
  /* line 205, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  /* line 115, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 48.5%;
    padding-bottom: 47%;
    margin: 0 3% 3% 0;
  }
  /* line 215, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(5n) {
    margin-right: 3%;
  }
  /* line 218, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 225, ../sass/partials/core.scss */
.indexSection ul li:hover figcaption {
  top: 60%;
}

/* line 4, ../sass/partials/widgets.scss */
.slideshow {
  overflow: hidden;
  margin: .5em 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  -moz-animation: imageSlide 1s 1;
  -webkit-animation: imageSlide 1s 1;
  animation: imageSlide 1s 1;
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 4, ../sass/partials/widgets.scss */
  .slideshow {
    float: right;
    width: 66.7%;
    margin: 0 0 0 .8em;
  }
}
/* line 20, ../sass/partials/widgets.scss */
.slideshow.vertical-layout .left-bar, .slideshow.vertical-layout .right-bar {
  -moz-background-size: 35%, 16.8%;
  -o-background-size: 35%, 16.8%;
  -webkit-background-size: 35%, 16.8%;
  background-size: 35%, 16.8%;
}
@media screen and (max-width: 500px) {
  /* line 19, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 90%;
    margin: .5em 0 .5em 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 501px) {
  /* line 19, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 50%;
    float: right;
    margin: 0 0 0 .8em;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 19, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 33%;
    float: right;
    margin: 0 0 0 .8em;
  }
}
@media screen and (min-width: 1400px) {
  /* line 19, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 25%;
    float: right;
    margin: 0 0 0 .8em;
  }
}
/* line 46, ../sass/partials/widgets.scss */
.slideshow .image-container {
  left: 0;
  position: relative;
  height: auto;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
/* line 52, ../sass/partials/widgets.scss */
.slideshow .image-container figure {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 57, ../sass/partials/widgets.scss */
.slideshow .image-container figure .content-wrapper {
  width: 100%;
  height: 0;
  position: relative;
}
/* line 62, ../sass/partials/widgets.scss */
.slideshow .image-container figure .content-wrapper img, .slideshow .image-container figure .content-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
/* line 71, ../sass/partials/widgets.scss */
.slideshow .image-container figure figcaption {
  font-weight: 300;
  line-height: 1.3em;
  padding-top: .5em;
  color: #0088ff;
  font-weight: 600 !important;
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 71, ../sass/partials/widgets.scss */
  .slideshow .image-container figure figcaption {
    font-size: .9em;
  }
}
/* line 85, ../sass/partials/widgets.scss */
.slideshow .left-bar, .slideshow .right-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  min-width: 10%;
  overflow: hidden;
  height: 400px;
  background-color: rgba(0, 34, 64, 0.5);
  position: absolute;
  top: 0;
  z-index: 100;
  -moz-background-size: 25%, 12%;
  -o-background-size: 25%, 12%;
  -webkit-background-size: 25%, 12%;
  background-size: 25%, 12%;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 100, ../sass/partials/widgets.scss */
.slideshow .left-bar {
  left: -1px;
  background-image: url(../img/arrow-left.png);
  -moz-border-radius: 0 500px 500px 0;
  -webkit-border-radius: 0;
  border-radius: 0 500px 500px 0;
  background-position: 35% center;
}
/* line 106, ../sass/partials/widgets.scss */
.slideshow .right-bar {
  right: -1px;
  background-image: url(../img/arrow-right.png);
  -moz-border-radius: 500px 0 0 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px 0 0 500px;
  background-position: 59.7% center;
}
/* line 114, ../sass/partials/widgets.scss */
.slideshow:hover .left-bar, .slideshow:hover .right-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 4, ../sass/partials/nav.scss */
nav a {
  color: #ffcf00;
  text-decoration: none;
}

/* line 8, ../sass/partials/nav.scss */
nav a:hover mark {
  color: #ff80d3;
}

/* line 12, ../sass/partials/nav.scss */
h1 a {
  color: #ff8f00;
  text-decoration: none;
}

/* line 16, ../sass/partials/nav.scss */
mark {
  background: transparent;
  color: #ffcf00;
}

/* line 20, ../sass/partials/nav.scss */
.secret {
  color: #002240;
}

/* line 24, ../sass/partials/nav.scss */
header, footer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
/* line 30, ../sass/partials/nav.scss */
header nav, footer nav {
  -moz-transition: font-size 1s ease-in-out;
  -o-transition: font-size 1s ease-in-out;
  -webkit-transition: font-size 1s ease-in-out;
  transition: font-size 1s ease-in-out;
}
/* line 31, ../sass/partials/nav.scss */
header nav ul, footer nav ul {
  width: 99%;
  text-align: justify;
  margin: 0 auto -1em auto;
}
/* line 36, ../sass/partials/nav.scss */
header nav ul:before, footer nav ul:before {
  content: '';
  display: block;
  width: 100%;
}
/* line 41, ../sass/partials/nav.scss */
header nav ul:after, footer nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 46, ../sass/partials/nav.scss */
header nav ul li, footer nav ul li {
  display: inline-block;
  margin: 0;
}
@media screen and (max-width: 767px) and (min-width: 501px), screen and (max-width: 500px) {
  /* line 53, ../sass/partials/nav.scss */
  header nav .siteTitle, footer nav .siteTitle {
    width: 100%;
    margin-bottom: 1em;
    margin-top: .5em;
  }
}
@media screen and (max-width: 767px) and (min-width: 501px) {
  /* line 60, ../sass/partials/nav.scss */
  header nav ul li, footer nav ul li {
    float: left;
    margin-right: 10%;
  }
}
@media screen and (max-width: 500px) {
  /* line 30, ../sass/partials/nav.scss */
  header nav, footer nav {
    font-size: 95%;
  }
  /* line 68, ../sass/partials/nav.scss */
  header nav .siteTitle, footer nav .siteTitle {
    text-align: center;
  }
}

/* line 74, ../sass/partials/nav.scss */
footer {
  padding-top: 1em;
}

/* line 77, ../sass/partials/nav.scss */
.hedgebat-container {
  border: 2px solid #ff8f00;
}
/* line 80, ../sass/partials/nav.scss */
header .hedgebat-container {
  margin-top: 1.5%;
  margin-bottom: 1%;
}
/* line 84, ../sass/partials/nav.scss */
footer .hedgebat-container {
  margin-bottom: 1.5%;
  margin-top: 1%;
}

/* line 90, ../sass/partials/nav.scss */
.hedgebat {
  background: transparent url(../img/hedgebat.jpg) top center no-repeat;
  background-size: cover;
  width: 98%;
  margin: 1% auto;
  height: 0;
  padding-bottom: 20%;
  -moz-transition: padding-bottom 1s ease-in-out;
  -o-transition: padding-bottom 1s ease-in-out;
  -webkit-transition: padding-bottom 1s ease-in-out;
  transition: padding-bottom 1s ease-in-out;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* line 90, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 18%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 90, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 16%;
  }
}
@media screen and (min-width: 1400px) {
  /* line 90, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 14%;
  }
}
/* line 107, ../sass/partials/nav.scss */
footer .hedgebat {
  background-position: center bottom;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
