/* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes imageSlide {
  0% {
    -moz-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes imageSlide {
  0% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes imageSlide {
  0% {
    -moz-transform: translate3d(50px, 0, 0);
    -ms-transform: translate3d(50px, 0, 0);
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes textSlide {
  0% {
    -moz-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes textSlide {
  0% {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes textSlide {
  0% {
    -moz-transform: translate3d(-50px, 0, 0);
    -ms-transform: translate3d(-50px, 0, 0);
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutZero {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  97% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutZero {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  97% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutZero {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  97% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutOne {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  3% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutOne {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  3% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutOne {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  3% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutTwo {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  6% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutTwo {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  6% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutTwo {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  6% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutThree {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  9% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutThree {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  9% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutThree {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  9% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutFour {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  12% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutFour {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  12% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutFour {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  12% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutFive {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  15% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutFive {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  15% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutFive {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  15% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutSix {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  18% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutSix {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  18% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutSix {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  18% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutSeven {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  21% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutSeven {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  21% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutSeven {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  21% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutEight {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  24% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutEight {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  24% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutEight {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  24% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imagePopoutNine {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  26% {
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes imagePopoutNine {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  26% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes imagePopoutNine {
  0% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  26% {
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    opacity: 0;
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@-moz-keyframes imageBounce {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  13% {
    -moz-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  25% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  38% {
    -moz-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  50% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  63% {
    -moz-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
  75% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  88% {
    -moz-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes imageBounce {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  13% {
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  25% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  38% {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  63% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  88% {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes imageBounce {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  13% {
    -moz-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  25% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  38% {
    -moz-transform: translate3d(0, -7px, 0);
    -ms-transform: translate3d(0, -7px, 0);
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  50% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  63% {
    -moz-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
  75% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  88% {
    -moz-transform: translate3d(0, -1px, 0);
    -ms-transform: translate3d(0, -1px, 0);
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 4, ../sass/partials/core.scss */
body {
  background-color: #0057a2;
  color: #eaeaea;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
}
@media screen and (min-width: 1024px) {
  /* line 4, ../sass/partials/core.scss */
  body {
    font-size: 115%;
  }
}

/* line 13, ../sass/partials/core.scss */
h1, h2, h3, h4 {
  clear: both;
}

/* line 16, ../sass/partials/core.scss */
main {
  width: 92.72%;
  margin: 0 auto;
  clear: both;
}
/* line 21, ../sass/partials/core.scss */
main a {
  color: #ffc107;
  text-decoration: none;
}
/* line 25, ../sass/partials/core.scss */
main a:visited {
  color: #bcaaa4;
}
/* line 28, ../sass/partials/core.scss */
main a:hover {
  color: #ffe082;
}
/* line 31, ../sass/partials/core.scss */
main h1, main h2 {
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 300;
  font-size: 225%;
  padding-top: .8em;
  position: relative;
  left: 0;
  margin-bottom: .3em;
  -moz-animation: textSlide 0.75s 1;
  -webkit-animation: textSlide 0.75s 1;
  animation: textSlide 0.75s 1;
}
/* line 41, ../sass/partials/core.scss */
main h1.project-page, main h2.project-page {
  padding-top: 1em;
}
@media screen and (max-width: 500px) {
  /* line 41, ../sass/partials/core.scss */
  main h1.project-page, main h2.project-page {
    padding-top: .5em;
  }
}
/* line 49, ../sass/partials/core.scss */
main p {
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.3em;
  position: relative;
  left: 0;
  -moz-animation: textSlide 0.75s 1;
  -webkit-animation: textSlide 0.75s 1;
  animation: textSlide 0.75s 1;
  padding-bottom: .8em;
  text-indent: -2px;
  z-index: 0;
}
/* line 60, ../sass/partials/core.scss */
main .errors {
  color: #ffe082;
  height: 0;
  overflow: hidden;
  padding: 0;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 300;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
/* line 69, ../sass/partials/core.scss */
main form {
  width: 100%;
  height: auto;
  min-height: 170px;
}
@media screen and (max-width: 500px) {
  /* line 69, ../sass/partials/core.scss */
  main form {
    min-height: 150px;
  }
}
/* line 77, ../sass/partials/core.scss */
main form label, main form input {
  float: left;
  margin-bottom: .5em;
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 300;
}
/* line 85, ../sass/partials/core.scss */
main form label {
  clear: both;
  min-width: 10%;
  margin-right: 10px;
  margin-top: .1em;
}
/* line 91, ../sass/partials/core.scss */
main form input[type="submit"] {
  display: block;
  clear: both;
  font-size: 1em;
  padding: .5em 2em;
  background-color: #800f00;
  border: none;
  color: #fff;
}
/* line 100, ../sass/partials/core.scss */
main form input[type="text"], main form input[type="password"] {
  font-weight: 500;
  padding: 0 .3em;
}

/* line 107, ../sass/partials/core.scss */
.indexSection ul {
  margin: 0 auto;
}
/* line 110, ../sass/partials/core.scss */
.indexSection ul li {
  float: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-transition: -moz-transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, width 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, width 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, width 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, width 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
}
/* line 116, ../sass/partials/core.scss */
.indexSection ul li:hover {
  -moz-transform: scale3d(1.08, 1.08, 1);
  -webkit-transform: scale3d(1.08, 1.08, 1);
  transform: scale3d(1.08, 1.08, 1);
  -moz-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 120, ../sass/partials/core.scss */
.indexSection ul li.pop-zero {
  -moz-animation: imagePopoutZero 1.36s 1;
  -webkit-animation: imagePopoutZero 1.36s 1;
  animation: imagePopoutZero 1.36s 1;
}
/* line 121, ../sass/partials/core.scss */
.indexSection ul li.pop-one {
  -moz-animation: imagePopoutOne 1.36s 1;
  -webkit-animation: imagePopoutOne 1.36s 1;
  animation: imagePopoutOne 1.36s 1;
}
/* line 122, ../sass/partials/core.scss */
.indexSection ul li.pop-two {
  -moz-animation: imagePopoutTwo 1.36s 1;
  -webkit-animation: imagePopoutTwo 1.36s 1;
  animation: imagePopoutTwo 1.36s 1;
}
/* line 123, ../sass/partials/core.scss */
.indexSection ul li.pop-three {
  -moz-animation: imagePopoutThree 1.36s 1;
  -webkit-animation: imagePopoutThree 1.36s 1;
  animation: imagePopoutThree 1.36s 1;
}
/* line 124, ../sass/partials/core.scss */
.indexSection ul li.pop-four {
  -moz-animation: imagePopoutFour 1.36s 1;
  -webkit-animation: imagePopoutFour 1.36s 1;
  animation: imagePopoutFour 1.36s 1;
}
/* line 125, ../sass/partials/core.scss */
.indexSection ul li.pop-five {
  -moz-animation: imagePopoutFive 1.36s 1;
  -webkit-animation: imagePopoutFive 1.36s 1;
  animation: imagePopoutFive 1.36s 1;
}
/* line 126, ../sass/partials/core.scss */
.indexSection ul li.pop-six {
  -moz-animation: imagePopoutSix 1.36s 1;
  -webkit-animation: imagePopoutSix 1.36s 1;
  animation: imagePopoutSix 1.36s 1;
}
/* line 127, ../sass/partials/core.scss */
.indexSection ul li.pop-seven {
  -moz-animation: imagePopoutSeven 1.36s 1;
  -webkit-animation: imagePopoutSeven 1.36s 1;
  animation: imagePopoutSeven 1.36s 1;
}
/* line 128, ../sass/partials/core.scss */
.indexSection ul li.pop-eight {
  -moz-animation: imagePopoutEight 1.36s 1;
  -webkit-animation: imagePopoutEight 1.36s 1;
  animation: imagePopoutEight 1.36s 1;
}
/* line 129, ../sass/partials/core.scss */
.indexSection ul li.pop-nine {
  -moz-animation: imagePopoutNine 1.36s 1;
  -webkit-animation: imagePopoutNine 1.36s 1;
  animation: imagePopoutNine 1.36s 1;
}
/* line 131, ../sass/partials/core.scss */
.indexSection ul li .img-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 136, ../sass/partials/core.scss */
.indexSection ul li .img-container img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 145, ../sass/partials/core.scss */
.indexSection ul li figcaption {
  position: relative;
  line-height: 1.3em;
  -moz-transition: top 0.2s ease-in-out 0.1s;
  -o-transition: top 0.2s ease-in-out 0.1s;
  -webkit-transition: top 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: top 0.2s ease-in-out 0.1s;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 40%;
  height: 0;
  font-family: "ff-dagny-web-pro-1", "ff-dagny-web-pro-2", sans-serif;
  font-weight: 200;
}
/* line 157, ../sass/partials/core.scss */
.indexSection ul li figcaption span.table-container {
  height: 100%;
  width: 90%;
  display: block;
  position: absolute;
  top: 0;
  left: 5%;
}
/* line 165, ../sass/partials/core.scss */
.indexSection ul li figcaption span.table-container span.table {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 170, ../sass/partials/core.scss */
.indexSection ul li figcaption span.table-container span.table span.cell {
  display: table-cell;
  vertical-align: middle;
  border: none;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  /* line 110, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 19%;
    margin: 0 1.25% 1.65% 0;
  }
  /* line 182, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(5n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1400px) {
  /* line 110, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 15.83%;
    margin: 0 1% 1.3% 0;
  }
  /* line 189, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(5n) {
    margin-right: 1%;
  }
  /* line 192, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(6n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1800px) {
  /* line 110, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 11.8%;
    margin: 0 .8% 1% 0;
  }
  /* line 199, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(5n) {
    margin-right: .8%;
  }
  /* line 202, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(6n) {
    margin-right: .8%;
  }
  /* line 205, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(8n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* line 110, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 23.5%;
    margin: 0 2% 2.2% 0;
  }
  /* line 213, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 501px) {
  /* line 110, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 32%;
    margin: 0 2% 2.5% 0;
  }
  /* line 222, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 500px) {
  /* line 110, ../sass/partials/core.scss */
  .indexSection ul li {
    width: 48.25%;
    margin: 0 3.5% 4% 0;
  }
  /* line 231, ../sass/partials/core.scss */
  .indexSection ul li:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 238, ../sass/partials/core.scss */
.indexSection ul li:hover figcaption {
  top: 60%;
}

/* line 4, ../sass/partials/widgets.scss */
.slideshow {
  overflow: hidden;
  margin: .5em 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  -moz-animation: imageSlide 1s 1;
  -webkit-animation: imageSlide 1s 1;
  animation: imageSlide 1s 1;
  z-index: 1000;
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 4, ../sass/partials/widgets.scss */
  .slideshow {
    float: right;
    width: 66.7%;
    margin: 0 0 0 .8em;
  }
}
/* line 21, ../sass/partials/widgets.scss */
.slideshow.vertical-layout .left-bar, .slideshow.vertical-layout .right-bar {
  -moz-background-size: 35%, 16.8%;
  -o-background-size: 35%, 16.8%;
  -webkit-background-size: 35%, 16.8%;
  background-size: 35%, 16.8%;
}
@media screen and (max-width: 500px) {
  /* line 20, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 90%;
    margin: .5em 0 .5em 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 501px) {
  /* line 20, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 50%;
    float: right;
    margin: 0 0 0 .8em;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 20, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 33%;
    float: right;
    margin: 0 0 0 .8em;
  }
}
@media screen and (min-width: 1400px) {
  /* line 20, ../sass/partials/widgets.scss */
  .slideshow.vertical-layout {
    width: 25%;
    float: right;
    margin: 0 0 0 .8em;
  }
}
/* line 47, ../sass/partials/widgets.scss */
.slideshow .image-container {
  left: 0;
  position: relative;
  height: auto;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
/* line 53, ../sass/partials/widgets.scss */
.slideshow .image-container figure {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 58, ../sass/partials/widgets.scss */
.slideshow .image-container figure .content-wrapper {
  width: 100%;
  height: 0;
  position: relative;
}
/* line 63, ../sass/partials/widgets.scss */
.slideshow .image-container figure .content-wrapper img, .slideshow .image-container figure .content-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
/* line 72, ../sass/partials/widgets.scss */
.slideshow .image-container figure figcaption {
  font-weight: 300;
  line-height: 1.3em;
  padding-top: .5em;
  color: #cde7fd;
  font-weight: 600 !important;
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 72, ../sass/partials/widgets.scss */
  .slideshow .image-container figure figcaption {
    font-size: .9em;
  }
}
/* line 86, ../sass/partials/widgets.scss */
.slideshow .left-bar, .slideshow .right-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  width: 12%;
  max-width: 75px;
  overflow: hidden;
  height: 0;
  padding-bottom: 24%;
  background-color: rgba(0, 87, 162, 0.5);
  position: absolute;
  top: 50%;
  z-index: 100;
  -moz-background-size: 25%, 12%;
  -o-background-size: 25%, 12%;
  -webkit-background-size: 25%, 12%;
  background-size: 25%, 12%;
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  /* line 105, ../sass/partials/widgets.scss */
  .slideshow:not(.vertical-layout) .left-bar, .slideshow:not(.vertical-layout) .right-bar {
    padding-bottom: 150px;
  }
}
/* line 109, ../sass/partials/widgets.scss */
.slideshow .left-bar {
  left: -1px;
  background-image: url(../img/arrow-left.png);
  -moz-border-radius: 0 150px 150px 0;
  -webkit-border-radius: 0;
  border-radius: 0 150px 150px 0;
  background-position: 35% center;
}
/* line 116, ../sass/partials/widgets.scss */
.slideshow .right-bar {
  right: -1px;
  background-image: url(../img/arrow-right.png);
  -moz-border-radius: 150px 0 0 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px 0 0 150px;
  background-position: 59.7% center;
}
/* line 124, ../sass/partials/widgets.scss */
.slideshow:hover .left-bar, .slideshow:hover .right-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 4, ../sass/partials/nav.scss */
nav a {
  font-family: "droid-sans-mono-1", "droid-sans-mono-2", monospace, sans-serif;
  color: #ffcf00;
  text-decoration: none;
}

/* line 9, ../sass/partials/nav.scss */
nav a:hover mark {
  color: #ffe082;
}

/* line 13, ../sass/partials/nav.scss */
.siteTitle a {
  color: #ffa614;
  text-decoration: none;
}
/* line 17, ../sass/partials/nav.scss */
.siteTitle a:hover {
  color: #ffbf56;
}

/* line 21, ../sass/partials/nav.scss */
mark {
  background: transparent;
  color: #ffcf00;
}

/* line 25, ../sass/partials/nav.scss */
.secret {
  color: #0057a2;
}

/* line 29, ../sass/partials/nav.scss */
header, footer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 1.5%;
}
/* line 36, ../sass/partials/nav.scss */
header nav, footer nav {
  -moz-transition: font-size 1s ease-in-out;
  -o-transition: font-size 1s ease-in-out;
  -webkit-transition: font-size 1s ease-in-out;
  transition: font-size 1s ease-in-out;
}
/* line 37, ../sass/partials/nav.scss */
header nav ul, footer nav ul {
  width: 99%;
  text-align: justify;
  margin: 0 auto -1em auto;
}
/* line 42, ../sass/partials/nav.scss */
header nav ul:before, footer nav ul:before {
  content: '';
  display: block;
  width: 100%;
}
/* line 47, ../sass/partials/nav.scss */
header nav ul:after, footer nav ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 52, ../sass/partials/nav.scss */
header nav ul li, footer nav ul li {
  display: inline-block;
  margin: 0;
}
@media screen and (max-width: 767px) and (min-width: 501px), screen and (max-width: 500px) {
  /* line 59, ../sass/partials/nav.scss */
  header nav .siteTitle, footer nav .siteTitle {
    width: 100%;
    margin-bottom: 1em;
    margin-top: .5em;
  }
}
@media screen and (max-width: 767px) and (min-width: 501px) {
  /* line 66, ../sass/partials/nav.scss */
  header nav ul li, footer nav ul li {
    float: left;
    margin-right: 10%;
  }
}
@media screen and (max-width: 500px) {
  /* line 36, ../sass/partials/nav.scss */
  header nav, footer nav {
    font-size: 95%;
  }
  /* line 74, ../sass/partials/nav.scss */
  header nav .siteTitle, footer nav .siteTitle {
    text-align: center;
  }
}

/* line 80, ../sass/partials/nav.scss */
footer {
  padding-top: 1em;
}

/* line 84, ../sass/partials/nav.scss */
header .hedgebat-container {
  margin-bottom: 1%;
}
/* line 87, ../sass/partials/nav.scss */
footer .hedgebat-container {
  margin-bottom: 1.5%;
  margin-top: 1%;
}

/* line 93, ../sass/partials/nav.scss */
.hedgebat {
  background: rgba(255, 255, 255, 0.3) url(../img/hedgebat.jpg) center 5% no-repeat;
  background-size: cover;
  width: 98%;
  margin: 1% auto;
  height: 0;
  padding-bottom: 20%;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-transition: padding-bottom 1s ease-in-out, background-position 1s ease-in-out;
  -o-transition: padding-bottom 1s ease-in-out, background-position 1s ease-in-out;
  -webkit-transition: padding-bottom 1s ease-in-out, background-position 1s ease-in-out;
  transition: padding-bottom 1s ease-in-out, background-position 1s ease-in-out;
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  /* line 93, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 18%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 93, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 15%;
    background-position: center 6%;
  }
}
@media screen and (min-width: 1200px) {
  /* line 93, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 13%;
    background-position: center 8%;
  }
}
@media screen and (min-width: 1400px) {
  /* line 93, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 12%;
    background-position: center 12.5%;
  }
}
@media screen and (min-width: 1800px) {
  /* line 93, ../sass/partials/nav.scss */
  .hedgebat {
    padding-bottom: 10%;
    background-position: center 14.5%;
  }
}
/* line 121, ../sass/partials/nav.scss */
footer .hedgebat {
  background-position: center bottom;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
