@import "vars";
@import "compass/css3";

body {
  background-color: $bgColor;
  color: $textColor;
  font-family: $bodyFont;
  @media #{$papaBear} {
    font-size:115%;
  }
}

h1, h2, h3, h4 {
  clear: both;
}
main {
  width: 92.72%;
  margin: 0 auto;
  clear: both;
  
  a {
    color: $linkColor;
    text-decoration: none;
  }
  a:visited {
    color: $linkVisited;
  }
  a:hover {
    color: $linkHover;
  }
  h1, h2 {
    font-family: $bodyFont;
    font-weight:300;
    font-size: 225%;
    padding-top: .8em;
    position: relative;
    left: 0;
    margin-bottom: .3em;
    @include animation(textSlide .75s 1);
  }
  h1.project-page {
    padding-top: 1em;
    
    @media #{$sisterBear} {
      padding-top: .5em;
    }
  }
  h2.project-tagline {
    margin-top: 0px;
    padding-top: 0;
    font-size: 140%;
    font-style: italic;
    margin-bottom: .75em;
    line-height: 1.3em;
  }
  p {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.3em;
    position: relative;
    left:0;
    @include animation(textSlide .75s 1);
    padding-bottom: .8em;
    text-indent: -2px;
    z-index: 0;
  }
  .errors {
    color: $linkHover;
    height: 0;
    overflow: hidden;
    padding: 0;
    font-family: $bodyFont;
    font-weight: 300;
    @include single-transition(height, .5s, ease-in-out);
  }
  form {
    width: 100%;
    height: auto;
    min-height: 170px;
    @media #{$sisterBear} {
      min-height: 150px;
    }
    
    label, input {
      float: left;
      margin-bottom: .5em;
      font-size: 1.2em;
      line-height: 1.4em;
      font-family: $bodyFont;
      font-weight: 300;
    }
    label {
      clear: both;
      min-width:10%;
      margin-right: 10px;
      margin-top: .1em;
    }
    input[type="submit"] {
      display: block;
      clear: both;
      font-size: 1em;
      padding: .5em 2em;
      background-color: $linkSelectedRed;
      border: none;
      color: #fff;
    }
    input[type="text"], input[type="password"] {
      font-weight:500;
      padding: 0 .3em;
    }
  }
}
.indexSection {
  ul {
    margin: 0 auto;
    
    li {
      float: left;
      position: relative;
      overflow: hidden;
      box-shadow: $defaultShadow;
      @include transition(transform .3s ease-in-out, box-shadow .3s ease-in-out, width .2s ease-in-out, padding-bottom .2s ease-in-out);
      &:hover {
        @include transform3d(scale3d(1.08, 1.08, 1));
        @include box-shadow($hoverShadow);
      }
      &.pop-zero {@include animation(imagePopoutZero 1.36s 1);}
      &.pop-one {@include animation(imagePopoutOne 1.36s 1);}
      &.pop-two {@include animation(imagePopoutTwo 1.36s 1);}
      &.pop-three {@include animation(imagePopoutThree 1.36s 1);}
      &.pop-four {@include animation(imagePopoutFour 1.36s 1);}
      &.pop-five {@include animation(imagePopoutFive 1.36s 1);}
      &.pop-six {@include animation(imagePopoutSix 1.36s 1);}
      &.pop-seven {@include animation(imagePopoutSeven 1.36s 1);}
      &.pop-eight {@include animation(imagePopoutEight 1.36s 1);}
      &.pop-nine {@include animation(imagePopoutNine 1.36s 1);}

      .img-container {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        background-color: rgba(255,255,255,.3);
        img {
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      figcaption {
        position: relative;
        line-height:1.3em;
        @include single-transition(top, .2s, ease-in-out, .1s);
        background-color: rgba(255,255,255,.3);
        color: #fff;
        @include box-sizing(border-box);
        padding: 0 0 40%;
        height: 0;
        font-family: $bodyFont;
        font-weight: 200;

        span.table-container{
          height: 100%;
          width: 90%;
          display: block;
          position: absolute;
          top: 0;
          left: 5%;

          span.table {
            display: table;
            height: 100%;
            width: 100%;

            span.cell {
              display: table-cell;
              vertical-align: middle;
              border: none;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
.indexSection li, .kenny-roraback-photo {
  @media #{$papaBear} {
    width: 19%;
    margin: 0 1.25% 1.65% 0;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
  @media #{$grandmaBear} {
    width: 15.83%;
    margin: 0 1% 1.3% 0;
    &:nth-child(5n) {
      margin-right: 1%;
    }
    &:nth-child(6n) {
      margin-right: 0;
    }
  }
  @media #{$grandpaBear} {
    width: 11.8%;
    margin: 0 .8% 1% 0;
    &:nth-child(5n) {
      margin-right: .8%;
    }
    &:nth-child(6n) {
      margin-right: .8%;
    }
    &:nth-child(8n) {
      margin-right: 0;
    }
  }
  @media #{$mamaBear} {
    width: 23.5%;
    margin: 0 2% 2.2% 0;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  @media #{$brotherBear} {
    width: 32%;
    margin: 0 2% 2.5% 0;
    
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media #{$sisterBear} {
    width: 48.25%;
    margin: 0 3.5% 4% 0;
    
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
main > header {
  padding: 1.5em 0 1em;

  .kenny-roraback-photo {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    background-color: $insetBg;
    @include border-radius(50%);
    margin-bottom: 0;
    padding: 1% .5% 0;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
    }
  }
  dl {
    display: inline-block;
    vertical-align: middle;
    h1 {
      padding-top: 0;
    }
    dd {
      line-height: 1.3em;
      font-weight: 300;
      font-size: 1.1em;
      &:before {
        content: "– ";
      }
    }
    mark {
      color: $lighterBlue;
    }

    @media #{$brotherBear} {
      width: 66%;
    }
    @media #{$mamaBear} {
      width: 74.5%;
    }
    @media #{$papaBear} {
      width: 79.75%;
    }
    @media #{$grandmaBear} {
      width: 83.17%;
    }
    @media #{$grandpaBear} {
      width: 87.4%;
    }
  }
}