@import "vars";
@import "compass/css3";

body {
  background-color: $bgColor;
  color: $textColor;
  font-family: $bodyFont;
  @media #{$papaBear} {
    font-size:115%;
  }
}

h1, h2, h3, h4 {
  font-family: $monospace;
  clear: both;
}
#main {
  width: 92.72%;
  margin: 0 auto;
  clear: both;
  
  h2 {
    font-family: $bodyFont;
    font-weight:300;
    font-size: 200%;
    padding-top: .5em;
    
    @media #{$mamaBear}, #{$papaBear} {
      margin-bottom: .3em;
    }
  }
  p {
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.3em;
  }
  p {
    padding-bottom: .8em;
    text-indent: -2px;
  }
}
.indexSection {
  ul {
    width: 97.6%;
    margin: 0 auto;
    
    li {
      float: left;
      width: 19%;
      height: 0;
      padding-bottom: 19%;
      margin: 0 1.25% 1.25% 0;
      position: relative;
      overflow: hidden;
      &:nth-child(5n) {
        margin-right: 0;
      }
      @include single-transition(all, .3s, ease-in-out);

      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
      }
      figcaption {
        position: absolute;
        display: table;
        left: 0;
        border: none;
        top: 100%;
        width: 101%;
        height: 41%;
        line-height:1.3em;
        @include single-transition(top, .2s, ease-in-out, .1s);
        background-color: rgba($bgColor,.7);
        color: #fff;
        @include box-sizing(border-box);
        padding: 0 5%;
        font-family: $bodyFont;
//        font-size: 95%;
        font-weight:200;
        
        span {
          display: table-cell;
          vertical-align: middle;
          border: none;
          width: 100%;
        }
        
      }
      @media #{$mamaBear} {
        width: 23.5%;
        padding-bottom: 23.5%;
        margin: 0 2% 2% 0;
        &:nth-child(4n) {
          margin-right: 0;
        }
        
      }
      @media #{$brotherBear} {
        width: 32%;
        padding-bottom: 32%;
        margin: 0 2% 2% 0;
        
        &:nth-child(3n) {
          margin-right: 0;
        }
        
      }
      @media #{$sisterBear} {
        width: 48.5%;
        padding-bottom: 47%;
        margin: 0 3% 3% 0;
        &:nth-child(2n) {
          margin-right: 0;
        }
        
      }
    }
    li:hover {
      figcaption {
        top: 60%;
      }
    }
    
  }
}
