@import "vars";
@import "compass/css3";

nav a {
  font-family: $monospace;
  color: $navLinkColor;
  text-decoration: none;
}
nav a:hover mark, nav a:hover {
  color: $linkHover;
}

nav a.active, nav a.active mark {
  color: $homepageLink;
  text-decoration: none;

  &:hover {
    color: $homepageLinkHover;
  }
}
mark {
  background: transparent;
  color: $navLinkColor;
}
.secret {
  color: $bgColor;
}

nav {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  padding-top: 1em;

  ul {
    width: 99%;
    text-align: justify;
    margin: 0 auto;
    
    &:before {
      content: '';
      display: block;
      width: 100%;
    }
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
    li {
      display: inline-block;
      margin: 0;
    }
  }
  @include single-transition(font-size, 1s, ease-in-out);
  @media #{$brotherBear}, #{$sisterBear} {
    .siteTitle {
      width: 100%;
      margin-bottom: 1em;
      margin-top: .5em;
    }
  }
  @media #{$brotherBear} {
    ul li {
      float: left;
      margin-right: 10%;
    }
  }
  @media #{$sisterBear} {
    font-size: 95%;

    .siteTitle {
      text-align: center;
    }
  }
}
