/* line 4, ../../sass/partials/widgets.scss */
.slideshow {
  overflow: hidden;
  margin: .5em 0;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 4, ../../sass/partials/widgets.scss */
  .slideshow {
    float: right;
    width: 66%;
    margin: 0 0 0 .8em;
  }
}
/* line 16, ../../sass/partials/widgets.scss */
.slideshow .image-container {
  left: 0;
  position: relative;
  height: auto;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
/* line 22, ../../sass/partials/widgets.scss */
.slideshow .image-container figure {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 27, ../../sass/partials/widgets.scss */
.slideshow .image-container figure .content-wrapper {
  width: 100%;
  height: 0;
  position: relative;
}
/* line 32, ../../sass/partials/widgets.scss */
.slideshow .image-container figure .content-wrapper img, .slideshow .image-container figure .content-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
/* line 41, ../../sass/partials/widgets.scss */
.slideshow .image-container figure figcaption {
  font-weight: 300;
  line-height: 1.3em;
  padding-top: .5em;
  color: #0088ff;
  font-weight: 600 !important;
}
@media screen and (max-width: 1023px) and (min-width: 768px), screen and (min-width: 1024px) {
  /* line 41, ../../sass/partials/widgets.scss */
  .slideshow .image-container figure figcaption {
    font-size: .9em;
  }
}
/* line 55, ../../sass/partials/widgets.scss */
.slideshow .left-bar, .slideshow .right-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -webkit-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  min-width: 10%;
  overflow: hidden;
  height: 400px;
  background-color: rgba(0, 34, 64, 0.5);
  position: absolute;
  top: 0;
  z-index: 100;
  -moz-background-size: 25%, 12%;
  -o-background-size: 25%, 12%;
  -webkit-background-size: 25%, 12%;
  background-size: 25%, 12%;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 70, ../../sass/partials/widgets.scss */
.slideshow .left-bar {
  left: -1px;
  font-family: "ache";
  background-image: url(../img/arrow-left.png);
  -moz-border-radius: 0 500px 500px 0;
  -webkit-border-radius: 0;
  border-radius: 0 500px 500px 0;
  background-position: 35% center;
}
/* line 77, ../../sass/partials/widgets.scss */
.slideshow .right-bar {
  right: -1px;
  background-image: url(../img/arrow-right.png);
  -moz-border-radius: 500px 0 0 500px;
  -webkit-border-radius: 500px;
  border-radius: 500px 0 0 500px;
  background-position: 59.7% center;
}
/* line 85, ../../sass/partials/widgets.scss */
.slideshow:hover .left-bar, .slideshow:hover .right-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
