<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Kenneth Roraback -> The Stories I Tell{% endblock %}</title>
		<meta name="description" content="{% block description %}Kenneth Roraback's portfolio website: Come and check out projects in web and mobile design, interaction, branding, video, theater and architecture. If you like it, let Kenny know by sending him an e-mail!{% endblock %}">
		<meta name="keywords" content="{% block keywords %}kenneth roraback kenny UX design user experience interactive video theater architecture typography MIT parsons design{% endblock %}" />

        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/main.css">
	    <link rel="shortcut icon" href="{{ STATIC_URL }}img/icons/favicon.ico" />
	    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/icons/apple-touch-icon.png" />
	    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/icons/apple-touch-icon-precomposed.png"/>
	    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/icons/apple-touch-icon-72x72-precomposed.png" />
	    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/icons/apple-touch-icon-114x114-precomposed.png" />
	    <link rel="apple-touch-icon" sizes= "144x144" href="{{ STATIC_URL }}img/icons/apple-touch-icon-144x144-precomposed.png" />
		<script type="text/javascript" src="http://use.typekit.com/lcf0sfk.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<header>
			<div class="hedgebat-container">
				<a href="{% url 'home' %}" title="Kenneth Roraback - Home">
					<div class="hedgebat">
						<span>Mobile - Web - User Experience - Interaction - Design - Development - Frontend - Backend - APIs - Branding - Type - Video - Theater - Architecture</span>
					</div>
				</a>
			</div>
			<nav>
				<ul>
					<li class="siteTitle"><h1><a href="{% url 'home' %}" title="Kenneth Roraback - Home"><span class="secret">'</span>Kenneth Roraback<span class="secret">'</span><mark>=&gt;</mark><span class="secret">'</span>The Stories I Tell<span class="secret">'</span></a></h1></li>
					<li><h2><a href="{% url 'about' %}"><mark>&nbsp;About</mark></a></h2></li>
					<li><h2><a href="{{ STATIC_URL }}pdf/kenneth_roraback_resume.pdf" target="_blank" title="Kenneth Roraback's Resume"><mark>Resum&eacute;</mark></a></h2></li>
					<li><h2><a href="{% url 'contact' %}"><mark>Contact</mark></a></h2></li>
					<li><h2><a href="javascript:randomproject()" title="random project"><mark>Get lucky!&nbsp;</mark></a></h2></li>
				</ul>
			</nav>
		</header>

{% block content %}{% endblock %}

		<footer>
			<nav>
				<ul>
					<li class="siteTitle"><h1><a href="{% url 'home' %}" title="Kenneth Roraback - Home"><span class="secret">'</span>Kenneth Roraback<span class="secret">'</span><mark>=&gt;</mark><span class="secret">'</span>The Stories I Tell<span class="secret">'</span></a></h1></li>
					<li><h2><a href="{% url 'about' %}"><mark>&nbsp;About</mark></a></h2></li>
					<li><h2><a href="{{ STATIC_URL }}/pdf/kenneth_roraback_resume.pdf" target="_blank"><mark>Resum&eacute;</mark></a></h2></li>
					<li><h2><a href="{% url 'contact' %}"><mark>Contact</mark></a></h2></li>
					<li><h2><a href="javascript:randomproject()" title="random project"><mark>Get lucky!&nbsp;</mark></a></h2></li>
				</ul>
			</nav>
			<div class="hedgebat-container">
				<a href="{% url 'home' %}" title="Kenneth Roraback - Home">
					<div class="hedgebat"></div>
				</a>
			</div>
		</footer>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-21549573-1');ga('send','pageview');
        </script>
    </body>
</html>
