{% extends "base.html" %}

{% block title %}Kenneth Roraback - Contact{% endblock %}

{% block content %}
<div id="main" role="main">
	<h2>Don't be shy. Say hello!</h2>
	<div class="slideshow">
		<div class="image-container" style="width: 100%;">
			<figure style="width: 100%;">
				<div class="content-wrapper" style="padding-bottom: 75%;">
					<img src="{{ STATIC_URL }}img/kenny-roraback.jpg" alt="Kenneth Roraback - Screenshot from Learn with Homer" />
				</div>
				<figcaption>A screenshot from the Learn with Homer app for iPad. This is my favorite thinking cap in the app. It&rsquo;s a <em>taco</em> hat that also has its <em>own</em> hat. I think that is AWESOME.</figcaption>
			</figure>
		</div>
	</div>
	<p><span class="secret">'</span>Thank you for visiting the site!<span class="secret">'</span> <mark>=&gt;</mark> <span class="secret">'</span>I hope that you have enjoyed my work. If you have questions or opinions (positive or negative!) about the site or about my work, you are welcome to send me an e-mail. I would love to hear from you!<span class="secret">',</span></p>
	<p><span class="secret">'</span>E-mail<span class="secret">'</span> <mark>=&gt;</mark> <span class="secret">'</span><a href="mailto:kenny@kennethroraback.com">kenny@kennethroraback.com</a><span class="secret">',</span></p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark>)<span class="secret">;</span></mark></p>
</div>
{% endblock %}