{% extends "base.html" %}
{% block content %}
		<div id="main" role="main">
{% for category in category_list %}
	{% if category.project_set.all.count > 0 %}
			<section class="indexSection">
				<h2>{{ category.title }}</h2>
				<ul>
		{% for project in category.project_set.all %}
					<li>
						<a href="{% url 'project' project.slug %}">
							<figure>
								<img src="{{ project.thumbnail.url }}" alt="{{ project.title }}" />
								<figcaption><span>{{ project.title|safe }}</span></figcaption>
							</figure>
						</a>
					</li>
		{% endfor %}
	{% endif %}
				</ul>
			</section>
{% endfor %}
		</div>
{% endblock %}