{% extends "base.html" %}
{% block header_home_link %}
	<li class="siteTitle"><h1><a href="{% url 'home' %}" title="Kenneth Roraback - Home"><span class="secret">'</span>Kenneth Roraback<span class="secret">'</span><mark>=&gt;</mark><span class="secret">'</span>The Stories I Tell<span class="secret">'</span></a></h1></li>
{% endblock %}

{% block content %}
{% for category in category_list %}
	{% if category.project_set.all.count > 0 %}
			<section class="indexSection">
				<h2>{{ category.title }}</h2>
				<ul>
		{% for project in category.project_set.all %}
					<li class="{{ randomPopOrder|random }}">
						<a href="{% url 'project' project.slug %}" title="{{ project.title }}">
							<figure>
								<div class="img-container">
									<img src="{{ project.thumbnail.url }}" alt="{{ project.title }}" />
								</div>
								<figcaption><span class="table-container"><span class="table"><span class="cell">{{ project.title|safe }}</span></span></span></figcaption>
							</figure>
						</a>
					</li>
		{% endfor %}
	{% endif %}
				</ul>
			</section>
{% endfor %}
{% endblock %}