{% extends "base.html" %}

{% block title %}Kenneth Roraback - {{ project.category }} - {{ project.title|safe }}{% endblock %}
{% if not project.login_required %}
	{% block description %}Project: {{ project.description }}{% endblock %}
{% endif %}
{% block content %}
{% autoescape off %}
	<header>	
		<h1 class="project-page">{{ project.title }}</h1>
	{% if project.tagline %}	
		<h2 class="project-tagline">{{ project.tagline }}</h2>
	{% endif %}
	</header>
	{% if project.login_required and not user.is_authenticated %}
		<p style="margin-top:.5em;">You&rsquo;ll need to enter a username and password to view this project. Don&rsquo;t have one? Send me a note!</p>
		<div class="errors">hjkdsjlksjfklsjfklf</div>
		<form method="post" action="." name="loginForm" id="loginForm">
		{% csrf_token %}
			<label for="username">Username:</label>
			<input id="username" name="username" type="text"  />
			<label for="password">Password:</label>
			<input id="password" name="password" type="password" />
			<input type="submit" value="Log in" />
			<input type="hidden" name="next" value="." />
		</form>
	{% else %}
		<div class="slideshow{% if project.percentageHeight > 100 %} vertical-layout{% endif %}">
			<div class="image-container" style="width:{% widthratio project.numFigures 1 100 %}%;">
				<figure style="width: {{ project.percentageWidth }}%;">
				{% if project.has_video %}
					<div class="content-wrapper" style="padding-bottom: {{ project.percentageHeight }}%;">
						<iframe src="//player.vimeo.com/video/{{ project.video_embed_code }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<figcaption>{{ project.main_caption }}</figcaption>
				{% else %}
					<div class="content-wrapper" style="padding-bottom: {{ project.percentageHeight }}%;">
						<img src="{{ project.main_image.url }}" alt="{{ project.main_alt_tag }}" />
					</div>
					<figcaption>{{ project.main_caption }}</figcaption>
				{% endif %}
				</figure>
		{% for video in project.video_set.all %}
				<figure style="width: {{ project.percentageWidth }}%;">
					<div class="content-wrapper" style="padding-bottom: {{ project.percentageHeight }}%;">
						<iframe src="//player.vimeo.com/video/{{ video.embed_id }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
					<figcaption>{{ video.caption }}</figcaption>
				</figure>
		{% endfor %}
		{% for image in project.image_set.all %}
				<figure style="width: {{ project.percentageWidth }}%;">
					<div class="content-wrapper" style="padding-bottom: {{ project.percentageHeight }}%;">
						<img src="{{ image.image.url }}" alt="{{ image.title }}" />
					</div>
					<figcaption>{{ image.caption }}</figcaption>
				</figure>
		{% endfor %}
			</div>
			<div class="left-bar"></div>
			<div class="right-bar"></div>
		</div>
		<p><span class="secret">'</span>Project<span class="secret">'</span> <mark>=&gt;</mark> <span class="secret">'</span>{{ project.description }}<span class="secret">',</span></p>
		<p><span class="secret">'</span>Challenges<span class="secret">'</span> <mark>=&gt;</mark> <span class="secret">'</span>{{ project.challenges }}<span class="secret">',</span></p>
		{% if project.solutions != "" %}
		<p><span class="secret">'</span>Solutions<span class="secret">'</span> <mark>=&gt;</mark> <span class="secret">'</span>{{ project.solutions }}<span class="secret">'</span></p>
		{% endif %}
	{% for addendum in project.addendum_set.all %}
		<p><span class="secret">'</span>{{ addendum.title }}<span class="secret">'</span> <mark>=&gt;</mark> <span class="secret">'</span> {% if addendum.attachment %}<a href="{{ addendum.attachment.url }}" target="_blank">{{ addendum.attachment_description }}:</a>{% endif %} {{ addendum.description }}<span class="secret">',</span>
	{% endfor %}
{% endif %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark>)<span class="secret">;</span></mark></p>
	<script>
		var percentageHeight = {{ project.percentageHeight }};
	</script>
{% endautoescape %}
{% endblock %}

{% block extrascripts %}
<script>
</script>
{% endblock %}